DB_TYPE=postgres
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=parmeet1175
POSTGRES_DB=outbox_transactional
SYNCHRONIZE_DB=false

RABBITMQ_URL=amqp://rabbitmq:5672
EVENT_QUEUE_NAME=event_queue
EVENT_DEAD_LETTER_QUEUE_NAME=event_dead_letter_queue
EVENT_DEAD_LETTER_EXCHANGE_NAME=event_dead_letter_exchange
EVENT_EXCHANGE_NAME=event_exchange
EVENT_MAX_REQUEUE_COUNT=3
EVENT_MAX_RETRY_COUNT=5